@{
    ViewBag.Title = "racionamientoV";
    Layout = "~/Views/Shared/_maestras.cshtml";
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/MisEstilos/MaestraPrincipal.css" />
    <link rel="shortcut icon" href="~/Imagenes/Favicon/ssypc.ico" />
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <title>Racionamiento</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>


<body>
<header>

    <div id="fondoHeader">
        <a href="~/Start/Operador"><img src="~/Imagenes/Racionamiento/Alimentos-Orgánicos-300x251.png" id="imgracionamiento" /></a>
        <div id="TituloRacionamiento">
           <h1>Racionamiento</h1></div>
        </div>      

</header>
<article>



</article>

<footer>



</footer>
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
 </body>
</html>