body {
}
.Alizarin {

background:#e74c3c;
color:#fff;
}
.Esmeralda {
background:#2ecc71;
color:#fff;
}
.Turquesa {
background:#1abc9c;
color:#fff;
}
.PeterRiver {
background:#3498db;
color:#fff;
}

.Carrot {
background:#e67e22;
color:#fff;
}
.Blanco {

    background:#fff;
    color:#fff;
}