   .sam {
       background-color:#000099;
       color:white;
      
        }
        .sam2 {
            background-color:red;
            color:white;
        }
        #menuone {
            /*position:fixed;*/
        }